{% extends "base.html" %}

{% block title %}Вхід | ToyStore{% endblock %}

{% block content %}
<div class="login-wrapper">
  <div class="login-card">
    <h2 class="login-title">🎠 Login ToyStore</h2>

    {% if form.errors %}
      <div class="login-error">
        ❌ Incorrect username or password
      </div>
    {% endif %}

    {% if next %}
      <p class="login-warning">🧸 You need to authorized before use site</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="login-form">
      {% csrf_token %}

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required class="form-input">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required class="form-input">
      </div>

      <input type="hidden" name="next" value="{{ next }}"/>

      <button type="submit" class="btn-login">🧩 Login</button>
    </form>

    <p class="register-note">
      Dont have account?
      <a href="" class="register-link">Registration!</a>
    </p>
  </div>
</div>
{% endblock %}
