{% load price_filters %}
{% load query_transform %}
<div id="toy_partial" class="flex flex-col gap-6">
  {% for toy in toy_list %}
    <div
        class="bg-white shadow rounded-lg p-4 flex flex-col md:flex-row md:justify-between md:items-center gap-4">
      <div class="flex-1">
        <div class="flex items-center justify-between mb-2">
          <h3 class="text-xl font-bold text-blue-700 transition duration-300 ease-in-out transform hover:text-red-600 hover:scale-105 hover:underline hover:shadow-md">
            <a href="{% url 'toys:toy-detail' toy.pk %}?next={{ request.get_full_path }}">{{ toy.name }}</a>
          </h3>
          <div class="text-md font-semibold text-green-700">
            {{ toy.price|price_format }} ₴
          </div>
          <div class="flex flex-wrap items-center gap-2">
            {#CART and WISHLIST buttons#}
            {% url 'carts:add-to-cart' toy.pk as add_to_cart %}
            {% url 'wishlists:assign-wishlist' toy.pk as assign_wishlist %}
            {% include 'includes/buttons/cart_button.html' with post_url=add_to_cart %}
            {% if toy.pk in wishlist_items_ids %}
              {% include 'includes/buttons/wishlist_button_in.html' with post_url=assign_wishlist %}
            {% else %}
              {% include 'includes/buttons/wishlist_button_out.html' with post_url=assign_wishlist %}
            {% endif %}

            {#---SHOP ADMIN buttons---- #}
            {% if user.shop_admin %}
              <a href="{% url 'toys:toy-update' toy.pk %}?next={{ request.get_full_path }}"
                 class="bg-blue-500 hover:bg-blue-600 text-white px-2 py-2 rounded text-xs">Update</a>
              <a href="{% url 'toys:toy-delete' toy.pk %}?next={{ request.get_full_path }}"
                 class="bg-red-500 hover:bg-red-600 text-white px-2 py-2 rounded text-xs">Delete</a>
            {% endif %}
          </div>
        </div>
        <div class="text-sm text-gray-500 mb-2">
          <div class="flex flex-wrap gap-4 mb-1">
            <span>🛠 <strong>{{ toy.manufacturer }}</strong></span>
            <span>🕒 {{ toy.updated_at|date:"F d, Y H:i" }}</span>
          </div>
          <div class="flex flex-wrap gap-2">
            {% for cat in toy.category.all %}
              <span class="px-2 py-0.5 rounded bg-gray-100 text-gray-800 text-xs border">{{ cat.name }}</span>
            {% empty %}
              <span class="text-gray-400 text-xs">No categories</span>
            {% endfor %}
          </div>
        </div>
        <p class="text-gray-700 text-sm">{{ toy.description|truncatewords:25 }}</p>
      </div>
      <div class="w-full md:w-1/4 text-right">
        {% if toy.photo %}
          <img src="{{ toy.photo.url }}" alt="{{ toy.name }}" class="w-full h-40 object-contain rounded">
        {% else %}
          <div class="text-gray-400 text-sm">No image</div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% if page_obj.has_next %}
    <div id="load-more-wrapper" class="text-center mt-4">
      <button
          class="mt-6 px-6 py-1 bg-gradient-to-r from-red-500 to-pink-500 text-white font-semibold rounded-full shadow-lg hover:from-pink-500 hover:to-red-500 transition duration-300 ease-in-out"
          hx-get="?{% query_transform request page=page_obj.next_page_number %}"
          hx-target="#load-more-wrapper"
          hx-swap="outerHTML"
          hx-indicator=".htmx-indicator">
        Load More Toys...
      </button>
    </div>
  {% endif %}
</div>
