<aside class="sidebar">
  <button class="category-btn">SHOP BY CATEGORY</button>
  <ul class="category-list">
    <li><a href="#">Art And Craft Toys</a></li>
    <li><a href="#">Educational Toys</a></li>
    <li><a href="#">Executive Toys</a></li>
    <li><a href="#">Mechanical Toys</a></li>
    <li><a href="#">Powered Toys</a></li>
    <li><a href="#">Puppetry</a></li>
    <li><a href="#">Puzzles</a></li>
    <li><a href="#">Robots</a></li>
    <li><a href="#">Toy Vehicles</a></li>
    <li><a href="#">Train</a></li>
    <li><a href="#">More</a></li>
  </ul>
</aside>
