.toy-card-img {
  height: 170px;
  object-fit: cover;
}

.toy-action-btn {
  height: 30px;
  font-size: 0.85rem;
}

.toy-action-group {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.toy-card-body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.toy-card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 100%;
  text-align: start;
}
.toy-photo {
  max-height: 180px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
