{% extends "base.html" %}
{% block title %}LOL | Taxi Service{% endblock %}

{% block content %}
  {% if user_list %}
    <table class="table-group">
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Toy Club</th>
      </tr>
      </thead>
      <tbody>
      {% for user in user_list %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>
            {% if user.toy_club %}
              {{ user.toy_club.level }}
            {% else %}
              —
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="empty-list">🚫 no users.</p>
  {% endif %}
{% endblock %}
