{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Check out order</h2>

    <div class="mb-3">
      <label for="id_total_price" class="form-label">Customer</label>
      <input type="text" name="Customer" class="form-control" id="id_customer"
             value="{{ user.first_name }} {{ user.last_name }}" readonly>
    </div>
    <form method="post" action="{% url 'orders:order-create' %}">
      {% csrf_token %}
      {{ form|crispy }}

      <h4>Your order:</h4>
      {% if cart %}
        {% for item in cart.cart_items.all %}
          <div class="border p-2 mb-2">
            <strong>{{ item.toy.name }}</strong> —
            {{ item.quantity }} x {{ item.toy.price }} ₴ =
            {{ item.total_price }} ₴
            {% if item.toy.photo %}
              <div class="mt-2">
                <img src="{{ item.toy.photo.url }}" alt="{{ item.toy.name }}" class="img-thumbnail"
                     style="max-height: 100px;">
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="mb-3">
          <label for="id_total_price" class="form-label">Total price</label>
          <input type="text" name="total_price" class="form-control" id="id_total_price" value="{{ cart.total_price }}"
                 readonly>
        </div>
      {% else %}
        <p class="text-danger">Empty cart.</p>
      {% endif %}
      <button type="submit" class="btn btn-primary mt-3">Make order</button>
    </form>
  </div>
{% endblock %}
