{% if user.is_authenticated %}
  <form
        method="post"
        hx-post="{{ post_url }}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#wishlist-counter"
        hx-swap="outerHTML"
        class="inline"
  >
    {% csrf_token %}
    <button type="submit" title="Add to wishlist"
            class="text-green text-3xl rounded-md hover:bg-red-300 focus:outline-none focus:ring-2 focus:ring-blue-400">
      <i class="fas fa-shopping-cart mr-1"></i> 🤍
    </button>
  </form>
{% else %}
  <a href="{% url 'accounts:login' %}?next={{ request.get_full_path }}"
     class="text-green text-3xl rounded-md hover:bg-red-300 focus:outline-none focus:ring-2 focus:ring-blue-400">
    <i class="fas fa-shopping-cart mr-1"></i> 🤍
  </a>
{% endif %}

